<div class="allpage">
    <h1>PHOTOGRAPHY</h1>
    <div class="posts">
    <postcard
      *ngFor = "let postcard of allpage"
       postimg = {{postcard.postimg}}
       profilepic = {{postcard.profilepic}}
       username = {{postcard.username}}
       likes ={{postcard.likes}}
       unlikes = {{postcard.unlikes}}
    ></postcard>
    </div>
    <h1>ART</h1>
    <div class="posts">
      <postcard
        *ngFor = "let postcard of allpage"
         postimg = {{postcard.postimg}}
         profilepic = {{postcard.profilepic}}
         username = {{postcard.username}}
         likes ={{postcard.likes}}
         unlikes = {{postcard.unlikes}}
      ></postcard>
      </div>
    <h1>DESIGN</h1>
    <div class="posts">
      <postcard
        *ngFor = "let postcard of allpage"
         postimg = {{postcard.postimg}}
         profilepic = {{postcard.profilepic}}
         username = {{postcard.username}}
         likes ={{postcard.likes}}
         unlikes = {{postcard.unlikes}}
      ></postcard>
      </div>
    <h1>SINGING</h1>
    <div class="posts">
      <postcard
        *ngFor = "let postcard of allpage"
         postimg = {{postcard.postimg}}
         profilepic = {{postcard.profilepic}}
         username = {{postcard.username}}
         likes ={{postcard.likes}}
         unlikes = {{postcard.unlikes}}
      ></postcard>
      </div>
</div>

