<nav>
        <h2 class="app-name text-center">Talentar</h2>
    </nav>
    <p class="text-center"> Chase Your Dreams!</p>
    
<form  class="form-inline ">

    <div class="row mb-3" >
    <div class="form-group" style="padding:30px;">
    <label>Firstname</label>
    <input type="text"  class="form-control" id="firstname" formControlName="firstname" required >
    </div>

    <div class="form-group">
    <label>Lastname</label>
    <input type="text" name="lastname" class="form-control" id="lastname" formControlName="lastname" required >
    </div>
     </div>
     
      <div class="row mb-3">
    <div class="form-group">
    <label>Email</label>
    <input type="email" name="email" class="form-control" id="email" formControlName="email" required >
    </div>

    <div class="form-group">
    <label>Username</label>
    <input type="text" name="username" class="form-control" id="username" formControlName="username" required >
    </div>
    </div>

    <div class="row mb-3" >
    <div class="form-group">
    <label>Password</label>
    <input type="password" name="passsword" class="form-control" id="password" formControlName="passsword" required >
    </div>

    <div class="form-group">
    <label>Confirm Password</label>
    <input type="password" name="confirm_password" class="form-control" id="cpassword" formControlName="confirm_password" required >
    </div>
    </div>

    <input type="submit" value="Signup" class="btn" >
    </form>